{% render 'partials/head.liquid' %}

<main>
    <h2>Nieuwste berichten</h2>
    
    <form method="POST" action="/messages" class="review-form">

    <article id="nameField">
        <label>Naam</label>
        <input type="text" name="from" id="fromInput" placeholder="name">     

        <!-- je kan ook annoniem een bericht platsen, dan vink je een box aan en hoef je geen naam in te vullen-->
        <input type="checkbox" class="anoniem-btn"> 
        <p>Bericht anoniem plaatsen</p>
    </article>

        <div class="form-group">
            <textarea id="review" name="text" placeholder="Laat een community drop achter en verspreid kracht." required></textarea>
        </div>
        
        <button type="submit" class="later-btn">Misschien later</button>
        <button type="submit" class="submit-btn">Submit Review</button>


    </form>

</main>
